body
{
    background-color:#eccfb9;
}

h1
{
    text-align: center;
    color: #555555;
    text-shadow: 2px 2px #fafafa;
    font-size: 40pt;
    font-family: "Gill Sans", sans-serif;
}

#addForm
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    text-align: center;
}

label[for="todo"]
{
    font-family: "Oldtown", fantasy;
    font-size: large;
}

#todo
{
    border-radius:1rem;
    height: 30px;
    width: 200px;
    margin-left: 2%;
    margin-right: 2%;
}

input[type="submit"]
{
    background-color: #555555;
    border: none;
    color: #fafafa;
    font-size: 20px;
    border-radius: 8px;
    padding: 0.5% 1.5%;
}

#result_table
{
    margin-left: auto;
    margin-right: auto;
    font-family: "Oldtown", fantasy;
}

th, td 
{
    font-size: 20pt;
    padding: 20px;
}

button
{
    background-color: #555555;
    border: none;
    color: #fafafa;
    margin: 5%;
    padding: 20% 20%;
    font-size: 20px;
    border-radius: 8px;
}

/* change checkbox */
input[type=checkbox]:checked + label
{
    text-decoration: line-through;
}

/* mobile layout */
@media (min-width: 400px) and (max-width: 800px) 
{
    #todo
    {
        width: 100px;
    }
}